<h1>Book Search</h1>

<div class="form-group row">
  <label class=" control-label col-md-12">Book Option</label>
  <div class="col-md-4">
    <select #searchOption id="searchOption" class="form-control" data-val="true" (change)='onOptionsSelected(searchOption.value)' >
      <option value="">--Select Option--</option>
      <option value="FREE">
        FREE
      </option>
      <option value="ISSUED">
        ISSUED
      </option>
    </select>
  </div>
</div>

<table class='table' *ngIf="bookList">
  <thead>
    <tr>
      <th *ngIf="false">BookId</th>
      <th>Book Title</th>
      <th>Author</th>
      <th>Price</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of bookList">
      <td *ngIf="false">{{ book.bookId }}</td>
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.price }}</td>
      <td>{{ book.status }}</td>
      <td>
      <td>
        <a [routerLink]="['/book-edit/', book.bookId]">Edit</a>

      </td>
    </tr>
  </tbody>
</table>
