<h1>Book Data</h1>



<p *ngIf="!bookList"><em>Loading...</em></p>

<p>
  <a class="btn btn-default" style="color:blueviolet" [routerLink]="['/book-create']">Create New</a>

  <a class="btn btn-default" style="color:blueviolet" [routerLink]="['/book-search']">Search Book</a>
</p>

<table class='table' *ngIf="bookList">
  <thead>
    <tr>
      <th *ngIf="false">BookId</th>
      <th>Book Title</th>
      <th>Author</th>
      <th>Price</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of bookList">
      <td *ngIf="false">{{ book.bookId }}</td>
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.price }}</td>
      <td>{{ book.status }}</td>
      <td>
      <td>
        <a [routerLink]="['/book-edit/', book.bookId]">Edit</a>
        <a [routerLink]="['/book-delete/', book.bookId]">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
